<launch>
	 <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
		 <param name="lm" value="$(find diab_el)/src/turtlebot/voice_teleop/config/motion_commands.lm"/>
	   	 <param name="dict" value="$(find diab_el)/src/turtlebot/voice_teleop/config/motion_commands.dic"/>
	</node>
        
        <node name="voice_teleop" pkg="diab_el" type="voice_teleop.py" output="screen">
 		<remap from="/cmd_vel" to="/cmd_vel_mux/input/teleop"/>
 	</node>
</launch>
